body{
    font-family: 'Times New Roman', Times, serif;
}


.product {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.product-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.select {
    width: 120px;
}



